version: '3.4'
services:
  mariadb:
    image: mariadb:10.5.4
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: metastore
      MYSQL_USER: hive
      MYSQL_PASSWORD: hive
      character-set-server: latin1
    restart: on-failure
    ports:
     - '3306:3306'
    networks:
      - hadoop
    volumes:
     - ${PWD}/data/mariadb:/var/lib/mysql

  hivedb:
    image: hive-metastore:master
    container_name: hivedb
    restart: on-failure
    ports:
     - '10000:10000'
     - '9083:9083'
     - '10002:10002'
    networks:
      - hadoop
      - jenkins
    volumes:
      - ${PWD}/data/hive/conf:/opt/apache-hive-3.1.2-bin/conf
      - ${PWD}/data/hive/udf:/opt/apache-hive-3.1.2-bin/udf
      - ${PWD}/data/hive/data:/opt/apache-hive-3.1.2-bin/data
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.1.3/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.1.3/etc/hadoop/core-site.xml

  jenkins:
    image: jenkinsci/blueocean
    container_name: jenkins_blueocean
    privileged: true
    user: root
    ports:
      - 8081:8080
      - 50000:50000
    networks:
      - hadoop
      - jenkins
    volumes:
      - ${PWD}/data/jenkins:/var/jenkins_home
      - ${PWD}/data/hive/udf:/var/jenkins_home/udf
      - /var/run/docker.sock:/var/run/docker.sock

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8083:8083"
      - "8086:8086"
      - "8090:8090"
    volumes:
      - ${PWD}/data/influx:/var/lib/influxdb
    networks:
      - monitoring

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    networks:
      - monitoring
      - hadoop
    volumes:
      - ${PWD}/data/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3030:3000"
    user: "0"
    networks:
      - monitoring
    volumes:
      - ${PWD}/data/grafana:/var/lib/grafana

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - 9870:9870
      - 9999:9000
      - 50070:50070
      - 8020:8020
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9999 namenode:9870 datanode:9864"
    volumes:
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  nodemanager1:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9999 namenode:9870 datanode:9864 resourcemanager:8088"
    volumes:
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.2.1-java8
    container_name: historyserver
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9999 namenode:9870 datanode:9864 resourcemanager:8088"
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
      - ${PWD}/data/hdfs/hdfs-site.xml:/opt/hadoop-3.2.1/etc/hadoop/hdfs-site.xml
      - ${PWD}/data/hdfs/core-site.xml:/opt/hadoop-3.2.1/etc/hadoop/core-site.xml
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver:

networks:
  hadoop:
    external: false
  monitoring:
    external: false
  jenkins:
    external: false
